h1,
h2,
h3,
h4,
h5,
h6 {
    color: color("headline");
}

h1 {
    font-size: 2rem;
    line-height: 1.2;
    margin-bottom: 1rem;
}

h2 {
    font-size: 1.5rem;
    line-height: 1.2;
    margin-bottom: 1rem;
}

@include breakpoint("min", "md") {
    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 2rem;
    }
}
